<?xml version="1.0" encoding="UTF-8"?>
<suite name="OpenCart Test Suite">
    <listeners>
        <listener class-name="com.opencart.utilities.TestListener" />
        <listener class-name="com.opencart.utilities.AllureTestListener" />
        <listener class-name="io.qameta.allure.testng.AllureTestNg" />
    </listeners>
    
    <test name="Registration Tests">
        <classes>
            <class name="com.opencart.tests.RegisterTests"/>
        </classes>
    </test>
    
    <test name="Login Tests">
        <classes>
            <class name="com.opencart.tests.LoginTests"/>
        </classes>
    </test>
</suite>